/* ============== COMMON STYLES ============== */
ul, ol {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background: #ffffff;
}
/* ============== /COMMON STYLES ============== */

/* ============== HEADER STYLES ============== */
.page-logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text-part {
    color: #4d5ae5;
}
.list-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list-item:hover,
.list-item:focus,
.menu-contactinfo:hover,
.menu-contactinfo:focus  {
    color: #404bbf;
}
.menu-contactinfo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ============== /HEADER STYLES ============== */

/* ============== HERRO STYLES ============== */
.herro-section{
    background: #2e2f42;
}
.herro-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}
.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.button:hover,
.button:focus {
    background: #404bbf;  
}
/* ============== /HERRO STYLES ============== */

/* ============== FEATURE STYLES ============== */
.feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.feature-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.feature-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ============== /FEATURE STYLES ============== */

/* ============== OUR TEAM STYLES ============== */
.team-section {
    background: #f4f4fd;
}
.team-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #ffffff;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* ============== /OUR TEAM STYLES ============== */

/* ============== PORTFOLIO STYLES ============== */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ============== /PORTFOLIO  STYLES ============== */

/* ============== FOOTER STYLES ============== */
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.page-footer {
    background: #2e2f42;
}
.page-logotype-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
/* ============== /FOOTER STYLES ============== */